body {
  width: 1350px;
  margin: auto;
}

.tr1 {
  height: 200px;
}

a {
  color: black;
}

th {
  height: 100px;
  width: 200px;
}

.img1 {
  margin-left: 200px;
}

.select1 {
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 30px;
  width: 400px;
  height: 30px;
  font-size: large;
  text-align: center;
}

.p1 {
  font-size: x-large;
  margin-left: 700px;
}

.footer {
  background-color: darkred;
  color: white;
  padding: 5px;
}

.div1 {
  margin-left: 200px;
  margin-right: 200px;
}

.class1 {
  margin-right: 30px;
  height: 120px;
  float: left;
}

@media screen and (min-width: 1024px) {
  .full-width-img {
    margin: auto;
    width: 90%;
  }
}
@media screen and (min-width: 781px) and (max-width: 1023px) {
  .full-width-img {
    margin: auto;
    width: 90%;
  }
}
@media screen and (min-width: 780px) {
  .full-width-img {
    margin: auto;
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */