body {
  width: 1350px;
  margin: auto;
}

.img1 {
  height: 200px;
  width: 200px;
  float: left;
}

p {
  text-align: center;
  font-size: x-large;
  font-family: calibri;
}/*# sourceMappingURL=siaxle.css.map */