body {
    width: 1350px;
    margin: auto;
}

.div1 {
    width: 300px;
    height: 320px;
    padding: 50px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 5px;
    margin: auto;
}

input {
    margin: auto;
    height: 30px;
    width: 250px;
    text-align: center;
    margin: 20px;
}

button {
    height: 50px;
    width: 120px;
    margin-left: 90px;
    text-align: center;
    background-color: gray;
    font-size: large;
}


a {
    color: black;
    text-align: center;
}