body {
  width: 1350px;
  margin: auto;
}

.div1 {
  width: 300px;
  height: 700px;
  padding: 50px;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  margin: auto;
}

input {
  margin: auto;
  height: 30px;
  width: 250px;
  text-align: center;
  margin: 20px;
}

a {
  color: black;
  text-align: center;
}

button {
  height: 50px;
  width: 200px;
  margin-top: 70px;
  margin-left: 48px;
}

select {
  margin-left: 20px;
  width: 150px;
  height: 30px;
}/*# sourceMappingURL=signup.css.map */